.container {
  align-items: flex-start;
    display: flex;
    flex-direction:row;
    justify-content: center; 
    padding: 20px;
    gap: 20px; 
    flex-wrap: wrap;
    justify-self: center;
  }
  
  .card {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; 
    text-align: center;
    width: 250px;
  }
  
  .card-image {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
    
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card-description {
    font-size: 0.9rem;
    color: #555;
    letter-spacing: 0.1rem;
  }
  .add_cart{
    background-color: white;
    border: black 1px solid;
    padding: 5px;
    border-radius: 50px;
  }
  .add_cart:hover{
    background-color: black;
    
  }
  .add_cart:hover a{
   color: white;
    
  }

  .add_cart a{
text-decoration: none;
color: black;
  }